<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Ray marching experiment</title>
</head>
<body>
  <main>
    <canvas id="c"></canvas>
  </main>

  <section class="instructions">
    <div class="warning">
      This app looks better on a desktop. It is not compatible with touch screens.
    </div>
    <div>
      <span class="key">Z</span> Forward<br/>
    </div>
    <div>
      <span class="key">S</span> Backward<br/>
    </div>
    <div>
      <span class="key">Q</span> Left<br/>
    </div>
    <div>
      <span class="key">D</span> Right<br/>
    </div>
    <div>
      <span class="key">A</span> Down<br/>
    </div>
    <div>
      <span class="key">E</span> Up<br/>
    </div>
  </section>
</body>
</html>
